@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --border-color-2: #B971DA;
    --border-color-1: #7DB9DF;
}

body {
    font-family: Poppins;
    background-color: #030407;
    color: white;
    width: 100%;
    margin: 0px;
}

#container {
    margin: 0px 100px 0px 100px;
}

#page-wrapper {
    overflow-x: hidden;
}

#big-header-div {
    max-width: 100dvw;
    height: 700px;
    display: grid;
    grid-template-areas: "stack";
    overflow: hidden;
    justify-content: center;
    position: relative;
}

#img-fundo {
    grid-area: stack;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    filter: brightness(0.9);
    align-self: stretch;
}

#big-header-div::after {
    content: "";
    grid-area: stack;
    z-index: 2;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.6) 20%
    );
    align-self: stretch;
}

#big-header-img-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(100% - 60px);
    gap: 80px;
}

#img-titulo {
    max-width: 700px;
    transition: 0.2s ease;
}

#img-titulo:hover {
    transform: scale(1.02)
}

#big-header-text h1 {
    margin: 0px;
    font-weight:900;
    font-size: 64px;
}

#big-header-text p {
    font-size: 22px;
}

.discord {
    background-color: #7289DA;
    font-size: 16px;
    font-weight: 500;
    color: white;
    font-family: poppins;
    padding:10px 30px 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: ease 0.2s;
}

.discord:hover {
    transform: scale(1.03);
}

.fa-brands {
    color: white;
}

.split {
    width: 100%;
    height: 1px;
    width: 200px;
    background: var(--border-color-1);
}

.split-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}