nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #030407;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-weight: 600;
}

#navbar a {
    color: white;
    text-decoration: none;
}

#navbar {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

li{
    gap:10px;
}

li:hover {
    transition: ease 0.2s;
    transform: scale(1.05);
    cursor:pointer;
}

#navbar-img {
    height: 48px;
    width: 48px;
    cursor:pointer;
    margin-left: 10px;
    transition: 0.2s ease;
}

#navbar-img:hover {
    transform: scale(1.05);
}