#news-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    max-width: 100%;
    flex-wrap: wrap;
}

.news-div{
    display: flex;
    flex-direction: column;
    max-width: 49%;
    padding: 0;
    border-radius: 8px; 
    border: 1px solid rgba(255,255,255,0.2); 
    background: #0d0f14;
}

.news-img {
    border-radius: 8px;
}

.author-head {
    width: 32px;
    height: auto;
}

.news-footer {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 10px 10px 10px;
}

.author{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

p {
    margin: 10px;
}

.news-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.news-tag {
    background-color:#47dd86;
    padding: 2px 6px 2px 6px;
    border-radius: 6px;
}

@media (max-width: 1100px) {
    .news-div {
        max-width: 100%;
    }
}

@media (min-width: 1100px) {
    .news-div {
        max-width: 45%;
    }
}

@media (min-width: 1400px) {
    .news-div {
        max-width: 32%;
    }
}