:root {
    --border-color-2: #B971DA;
    --border-color-1: #7DB9DF;
}

#container {
    margin: 10px 100px 10px 100px;
}

.skin {
    position: relative;
    display: inline-block;
}

.skin:hover {
    border: 1px solid var(--border-color);
}

.skin img {
    max-width: 200px;
    margin: 0px;
    display: block;
}

.nametag-box {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #4bb3f5, var(--border-color-1));;
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 50%, calc(100% - 20px) 100%, 0 100%);
    height: 28px;
    padding: 0px 50px 0px 14px;
    line-height: 1;
    margin: 0px;
    position: absolute;
    bottom: 14px;
    left:0;
}

.nametag {
    font-weight: 500;
}

.skins-wrapper{
    gap: 30px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.equipe-header-color {
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, var(--border-color-2), transparent);
}

.equipe-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}